<!DOCTYPE html>
<html>
<head>
    <title>Book #<%= number %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Book #<%= number %></h1>
</header>
<ol>
    <%- include('../partials/book#') %>
</ol>
<%- include('../partials/footer') %>