<%- include('../partials/header') %>
<div class = 'buttonBar'>
    <a href="/books/">All Listed Books</a>
    <a href="/books/drama">Drama</a>
    <a href="/books/nonfiction">Non-Fiction</a>
    <a href="/books/fiction">Fiction</a>
    <a href="/books/graphic-novel">Graphic-novel</a>
</div>
<ol>
    <%- include('../partials/books') %>
</ol>
<%- include('../partials/footer') %>