<!DOCTYPE html>
<html>
<head>
    <title>Song #<%= number %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Song #<%= number %></h1>
</header>
<ol>
    <%- include('../partials/song#') %>
</ol>
<%- include('../partials/footer') %>